In [26]:
import subprocess
import pkg_resources

def check_and_install(packages):
    for package in packages:
        try:
            # Check if the package is installed
            pkg_resources.get_distribution(package)
            print(f"{package} is installed")
        except pkg_resources.DistributionNotFound:
            # If the package is not installed, install it
            print(f"{package} is not installed, installing it...")
            subprocess.check_call([f"pip", "install", package])
            print(f"{package} is installed sucessfully")

In [27]:
packages_to_check = ['numpy', 'pandas', 'requests']
check_and_install(packages_to_check)

numpy is installed
pandas is installed
requests is installed

In [26]:
from tabulate import tabulate

# Create a list to store the table data
table_data = []

# Iterate over each DataFrame in the dictionary and append its name and number of rows to the table data
for key, df in dataframes.items():
    table_data.append([key, len(df)])

# Print the table using tabulate
print(tabulate(table_data, headers=['DataFrame', 'Number of Rows'], tablefmt='grid'))

+---------------+------------------+
| DataFrame     |   Number of Rows |
+===============+==================+
| NY_calendar_d |         14299870 |
+---------------+------------------+
| NY_listings_d |            39202 |
+---------------+------------------+
| NY_reviews_d  |           986810 |
+---------------+------------------+
| PR_calendar_d |         27134477 |
+---------------+------------------+
| PR_listings_d |            74329 |
+---------------+------------------+
| PR_reviews_d  |          1721452 |
+---------------+------------------+
| LD_calendar_d |         33500650 |
+---------------+------------------+
| LD_listings_d |            91778 |
+---------------+------------------+
| LD_reviews_d  |          1649190 |
+---------------+------------------+

In [2]:
import pandas as pd

# Folder names
folders = ["airbnb_NY", "airbnb_PR", "airbnb_LD"]
files = ["calendar_d.csv", "listings_d.csv", "reviews_d.csv"]

# Store all DataFrames using a dictionary
dataframes = {}

for folder in folders:
    for file in files:
        key_name = f"{folder.split('_')[-1]}_{file.split('.')[0]}"
        # Using relative path directly
        file_path = f"./{folder}/{file}"
        try:
            # Set low_memory=False to avoid mixed type warnings
            dataframes[key_name] = pd.read_csv(file_path, low_memory=False)
        except FileNotFoundError:
            print(f"File not found: {file_path}")
        except Exception as e:
            print(f"Error reading {file_path}: {e}")

# Check DataFrames in the dictionary
for key in dataframes:
    print(f"{key} has been loaded successfully.")

NY_calendar_d has been loaded successfully.
NY_listings_d has been loaded successfully.
NY_reviews_d has been loaded successfully.
PR_calendar_d has been loaded successfully.
PR_listings_d has been loaded successfully.
PR_reviews_d has been loaded successfully.
LD_calendar_d has been loaded successfully.
LD_listings_d has been loaded successfully.
LD_reviews_d has been loaded successfully.

In [29]:
dataframes['NY_calendar_d'].head(5).style.set_properties(**{'background-color': 'black', 'color': 'limegreen', 'border-color': 'white'})

In [30]:
dataframes['NY_reviews_d'].head(5).style.set_properties(**{'background-color': 'black', 'color': 'limegreen', 'border-color': 'white'})

In [31]:
print(dataframes['NY_listings_d'].columns)
dataframes['NY_listings_d'].head(1).style.set_properties(**{'background-color': 'black', 'color': 'limegreen', 'border-color': 'white'})

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [32]:
print(dataframes['NY_listings_d'].describe())

                 id     scrape_id       host_id  host_listings_count  \
count  3.920200e+04  3.920200e+04  3.920200e+04         39197.000000
mean   3.241181e+17  2.024021e+13  1.611708e+08           169.101921
std    4.185256e+17  1.651584e+01  1.739680e+08           763.478395
min    2.595000e+03  2.024021e+13  1.678000e+03             1.000000
25%    2.021553e+07  2.024021e+13  1.671337e+07             1.000000
50%    4.683017e+07  2.024021e+13  7.964657e+07             2.000000
75%    7.746345e+17  2.024021e+13  2.881116e+08             8.000000
max    1.084860e+18  2.024021e+13  5.597047e+08          5110.000000

       host_total_listings_count      latitude     longitude  accommodates  \
count               39197.000000  39202.000000  39202.000000  39202.000000
mean                  257.526647     40.729073    -73.946289      2.848860
std                  1106.734360      0.056339      0.054813      2.029674
min                     1.000000     40.500314    -74.251907      1.000000
25%                     1.000000     40.688770    -73.982870      2.000000
50%                     3.000000     40.726230    -73.954241      2.000000
75%                    12.000000     40.762500    -73.926990      4.000000
max                  8879.000000     40.911380    -73.713650     16.000000

          bathrooms      bedrooms  ...  review_scores_cleanliness  \
count  24335.000000  33011.000000  ...               27713.000000
mean       1.202979      1.403532  ...                   4.629591
std        0.556281      0.953565  ...                   0.553984
min        0.000000      0.000000  ...                   0.000000
25%        1.000000      1.000000  ...                   4.500000
50%        1.000000      1.000000  ...                   4.800000
75%        1.000000      2.000000  ...                   5.000000
max       15.500000     26.000000  ...                   5.000000

       review_scores_checkin  review_scores_communication  \
count           27698.000000                 27708.000000
mean                4.814092                     4.808529
std                 0.420550                     0.448769
min                 0.000000                     0.000000
25%                 4.800000                     4.800000
50%                 4.940000                     4.960000
75%                 5.000000                     5.000000
max                 5.000000                     5.000000

       review_scores_location  review_scores_value  \
count            27696.000000         27697.000000
mean                 4.727991             4.624456
std                  0.418802             0.518733
min                  0.000000             0.000000
25%                  4.630000             4.510000
50%                  4.840000             4.760000
75%                  5.000000             4.930000
max                  5.000000             5.000000

       calculated_host_listings_count  \
count                    39202.000000
mean                        46.842661
std                        146.693303
min                          1.000000
25%                          1.000000
50%                          1.000000
75%                          6.000000
max                        827.000000

       calculated_host_listings_count_entire_homes  \
count                                 39202.000000
mean                                     24.227565
std                                     120.567818
min                                       0.000000
25%                                       0.000000
50%                                       1.000000
75%                                       2.000000
max                                     827.000000

       calculated_host_listings_count_private_rooms  \
count                                  39202.000000
mean                                      21.772690
std                                       86.976619
min                                        0.000000
25%                                        0.000000
50%                                        1.000000
75%                                        2.000000
max                                      599.000000

       calculated_host_listings_count_shared_rooms  reviews_per_month
count                                 39202.000000       27702.000000
mean                                      0.050508           0.953946
std                                       0.369496           1.633604
min                                       0.000000           0.010000
25%                                       0.000000           0.100000
50%                                       0.000000           0.360000
75%                                       0.000000           1.300000
max                                       8.000000          78.250000

[8 rows x 39 columns]

In [43]:
import pandas as pd

# Columns you wish to remove from each listings_d DataFrame
columns_to_remove = [
    'host_url', 'host_thumbnail_url', 'host_picture_url', 'host_verifications',
    'neighbourhood_group_cleansed', 'bathrooms', 'minimum_nights', 'maximum_nights',
    'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights',
    'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm',
    'calendar_updated', 'number_of_reviews_ltm', 'number_of_reviews_l30d',
    'listing_url', 'description', 'bedrooms'
]

# Iterating over the dataframes dictionary to modify listings_d DataFrames
for key, df in dataframes.items():
    # Identify listings_d DataFrames by key
    if 'listings_d' in key:
        # Filter out columns that actually exist in the DataFrame to avoid KeyError
        existing_columns = [col for col in columns_to_remove if col in df.columns]
        # Drop these columns
        df.drop(columns=existing_columns, inplace=True)
        # Optionally, display the first row with custom styling
        # Note: This display command is tailored for Jupyter notebooks or similar environments
        display(df.head(1).style.set_properties(**{
            'background-color': 'black', 
            'color': 'limegreen', 
            'border-color': 'white'
        }))

        # If you're not using Jupyter, you might replace the display line with a print statement
        # print(df.head(1))

Too many columns in listings.csv, we do not need these columns when doing the spatial analysis: 'host_url', 'host_thumbnail_url', 'host_picture_url', 'host_verifications', 'neighbourhood_group_cleansed', 'bathrooms', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'listing_url'

In [38]:
import pandas as pd

# Assume you already have a dictionary named dataframes containing your DataFrame
# dataframes = {'NY_listings_d': your_dataframe}

# Use conditional filtering to select rows that meet the criteria
filtered_rows = dataframes['NY_listings_d'][dataframes['NY_listings_d']['name'].str.count('·') < 3]

# Get the number of rows that meet the criteria
num_filtered_rows = len(filtered_rows)

# Print the number of rows that meet the criteria
print("Number of rows that meet the criteria:", num_filtered_rows)

# If you want to view the first few rows of the 'name' column for the filtered rows, you can use the .head() method
if num_filtered_rows > 0:
    print("\nFirst few rows of the 'name' column for the filtered rows:")
    print(filtered_rows['name'].head())

Number of rows that meet the criteria: 550

First few rows of the 'name' column for the filtered rows:
14          Place to stay in The Bronx · 2 beds · 1 bath
20            Rental unit in Bronx · 2 bedrooms · 1 bath
141    Rental unit in Queens · 1 bedroom · 1 shared bath
159         Rental unit in Queens · 2 bedrooms · 0 baths
203       Rental unit in Brooklyn · 2 bedrooms · 0 baths
Name: name, dtype: object

In [44]:
import pandas as pd
import re

for key, df in dataframes.items():
    if key.endswith('listings_d'):
        # Initialize new columns
        df['name_clean'] = df['name']
        df['star'] = pd.NA
        df['bedroom_count'] = pd.NA
        
        # Iterate over each row to process the 'name' field
        for index, row in df.iterrows():
            # Process the 'name' field to extract the required information
            name_parts = row['name'].split('·')
            df.at[index, 'name_clean'] = name_parts[0].strip()
            
            # Extract star
            star_matches = re.search(r'★(\d+(?:\.\d+)?)', row['name'])
            if star_matches:
                df.at[index, 'star'] = float(star_matches.group(1))
            
            # Extract bedroom_count
            bedroom_matches = re.search(r'(\d+) bedroom', row['name'])
            if bedroom_matches:
                df.at[index, 'bedroom_count'] = int(bedroom_matches.group(1))
        
        # Update the DataFrame to include new columns and remove the original 'name' column
        df.drop(columns=['name'], inplace=True)
        df.rename(columns={'name_clean': 'name'}, inplace=True)
        
        # Update the DataFrame in the dictionary
        dataframes[key] = df

In [46]:
# 展示处理后的一个示例 DataFrame
dataframes['PR_listings_d'].head(5).style.set_properties(**{'background-color': 'black', 'color': 'limegreen', 'border-color': 'white'})

Now begin connecting the two datasets:
Ensure that the data types of both columns are consistent, such as both being integers or strings.
Since the "id" column in the listings_d table is unique, while the "listing_id" column in the reviews_d table may have duplicates, you can check if each "id" in listings_d appears at least once in the "listing_id" column of reviews_d.
Perform a correlation check to see if reviews_d and listings_d can be successfully linked using "listing_id" and "id." This will also help confirm their correspondence.
Randomly select some "listing_id" values and check if they exist in the "id" column of the listings_d table, and if the related information matches.

In [82]:
def get_num_rows(df):
    return len(df)

print("Number of rows in cal_d:", get_num_rows(cal_d),
      "\nNumber of rows in rev_d:", get_num_rows(rev_d),
      "\nNumber of rows in lis_d:", get_num_rows(lis_d))

Number of rows in cal_d: 33500650
Number of rows in rev_d: 1649190
Number of rows in lis_d: 91778

In [83]:
print(rev_d['listing_id'].dtype)
print(lis_d['id'].dtype)

int64
int64

In [3]:
ld_listings_d = dataframes['LD_listings_d']

def is_in_epsg_4326(lat, lon):
    return -180 <= lon <= 180 and -90 <= lat <= 90

ld_listings_d['in_EPSG_4326'] = ld_listings_d.apply(lambda row: is_in_epsg_4326(row['latitude'], row['longitude']), axis=1)

out_of_range_records = ld_listings_d[~ld_listings_d['in_EPSG_4326']]

if out_of_range_records.empty:
    print("All coordinates are within the EPSG:4326 - WGS 84 reference system.")
else:
    print(f"There are {len(out_of_range_records)} records out of EPSG:4326 - WGS 84 reference system range.")

All coordinates are within the EPSG:4326 - WGS 84 reference system.

In [84]:
lis_ids = set(lis_d['id'])

rev_listing_ids = set(rev_d['listing_id'])

is_subset = lis_ids.issubset(rev_listing_ids)
print(f"All the id in lis_d are in the listing_id of rev_d：{is_subset}")

All the id in lis_d are in the listing_id of rev_d：False

In [85]:
merged_df = pd.merge(rev_d, lis_d, left_on='listing_id', right_on='id', how='inner')

print(f"Number of merged DataFrame rows：{len(merged_df)}")

Number of merged DataFrame rows：1649190

In [86]:
sample_listing_ids = rev_d['listing_id'].sample(10)

for lid in sample_listing_ids:
    exists = lid in lis_ids
    print(f"listing_id {lid} exists in lis_d：{exists}")

listing_id 42823292 exists in lis_d：True
listing_id 38185314 exists in lis_d：True
listing_id 968051968622469171 exists in lis_d：True
listing_id 8140993 exists in lis_d：True
listing_id 978773853319819378 exists in lis_d：True
listing_id 21285907 exists in lis_d：True
listing_id 54045981 exists in lis_d：True
listing_id 1006932167083030753 exists in lis_d：True
listing_id 9546687 exists in lis_d：True
listing_id 603321978946072423 exists in lis_d：True

Handling Outliers and Missing Matches: For the IDs in listings_d that do not have a matching listing_id in reviews_d, further investigation is necessary. It may require reviewing the data collection and processing procedures to confirm if there are any missing or erroneous data.

Detailed Analysis of Unmatched IDs: For the IDs in listings_d that do not have a matching listing_id in reviews_d, conducting a detailed analysis of the characteristics of these properties, such as listing date, location, price, etc., can help determine if there are any patterns or features causing these properties to receive no reviews.

Validation of Abnormally Large listing_id Values: For abnormally large listing_id values, verifying if they represent valid records or if they are the result of some anomaly (such as data processing errors) is necessary.

In [87]:
unmatched_ids = lis_ids - rev_listing_ids
rest_unmatched_ids = lis_ids - unmatched_ids

print(f"Number of unmatched ids: {len(unmatched_ids)}")
print(f"Number of rest after unmatched ids: {len(rest_unmatched_ids)}")

Number of unmatched ids: 24123
Number of rest after unmatched ids: 67655

In [48]:
import pandas as pd
import psycopg2

conn_info = {
    'dbname': 'Rui_assessment_test1',
    'user': 'jia',
    'password': '7330',
    'host': 'localhost',
    'port': '5432'
}

conn = psycopg2.connect(**conn_info)

query = "SELECT * FROM london_knn_price;"
london_knn_price = pd.read_sql(query, conn)

conn.close()

print(london_knn_price.head())

/var/folders/19/zxrmg9n56z5c05c5cwt_mlnm0000gp/T/ipykernel_54316/2127459751.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  london_knn_price = pd.read_sql(query, conn)

            listing_id        room_type  star bathrooms_text   latitude  \
0              6811617  Entire home/apt  4.79      2.5 baths  51.543880
1              3183354  Entire home/apt  4.83         1 bath  51.518830
2  1033255293834791398  Entire home/apt   NaN         1 bath  51.551646
3              3432231  Entire home/apt   NaN         1 bath  51.550640
4              9022711  Entire home/apt   NaN         1 bath  51.564880

   price_numeric  longitude  bedroom_count  number_of_reviews  \
0          500.0  -0.196610            5.0                 47
1          320.0  -0.152220            1.0                 48
2            NaN  -0.123397            1.0                  0
3            NaN  -0.161390            1.0                  1
4            NaN   0.011480            NaN                  0

   transport_poi_count  city_poi_count
0                   76             246
1                  100            1795
2                   79             485
3                   66             295
4                   53             213

In [49]:
london_knn_price['private_bath'] = 0

london_knn_price['private_bath'] = london_knn_price['bathrooms_text'].str.extract('(\d+\.?\d*)').astype(float)

london_knn_price.loc[london_knn_price['bathrooms_text'].str.contains('shared', case=False, na=True), 'private_bath'] = 0

london_knn_price['private_house'] = np.where(london_knn_price['room_type'].str.contains('Entire'), 1, 0)

print(london_knn_price.head(5))

            listing_id        room_type  star bathrooms_text   latitude  \
0              6811617  Entire home/apt  4.79      2.5 baths  51.543880
1              3183354  Entire home/apt  4.83         1 bath  51.518830
2  1033255293834791398  Entire home/apt   NaN         1 bath  51.551646
3              3432231  Entire home/apt   NaN         1 bath  51.550640
4              9022711  Entire home/apt   NaN         1 bath  51.564880

   price_numeric  longitude  bedroom_count  number_of_reviews  \
0          500.0  -0.196610            5.0                 47
1          320.0  -0.152220            1.0                 48
2            NaN  -0.123397            1.0                  0
3            NaN  -0.161390            1.0                  1
4            NaN   0.011480            NaN                  0

   transport_poi_count  city_poi_count  private_bath  private_house
0                   76             246           2.5              1
1                  100            1795           1.0              1
2                   79             485           1.0              1
3                   66             295           1.0              1
4                   53             213           1.0              1

In [50]:
london_knn_price = london_knn_price.drop(['bathrooms_text', 'latitude', 'longitude', 'room_type'], axis=1)

print(london_knn_price.head())

            listing_id  star  price_numeric  bedroom_count  number_of_reviews  \
0              6811617  4.79          500.0            5.0                 47
1              3183354  4.83          320.0            1.0                 48
2  1033255293834791398   NaN            NaN            1.0                  0
3              3432231   NaN            NaN            1.0                  1
4              9022711   NaN            NaN            NaN                  0

   transport_poi_count  city_poi_count  private_bath  private_house
0                   76             246           2.5              1
1                  100            1795           1.0              1
2                   79             485           1.0              1
3                   66             295           1.0              1
4                   53             213           1.0              1

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import numpy as np

In [56]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import pandas as pd
import numpy as np

london_knn_price = london_knn_price.dropna(subset=['price_numeric'])

X = london_knn_price.select_dtypes(include=[np.number]).drop(columns=['price_numeric'])
y = london_knn_price['price_numeric']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

knn = KNeighborsRegressor()

knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"MAE: {mae}")
print(f"MSE: {mse}")
print(f"R^2 Score: {r2}")

MAE: 114.79532535222738
MSE: 294184.88241387735
R^2 Score: -0.10046358121897292

In [57]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor()

param_grid = {'n_neighbors': range(1, 31)} 

grid_search = GridSearchCV(knn, param_grid, cv=5, scoring='neg_mean_squared_error') 

grid_search.fit(X_train, y_train)

print("Best parameters:", grid_search.best_params_)
print("Best score (negative MSE):", grid_search.best_score_)

best_knn = grid_search.best_estimator_

y_pred = best_knn.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"MAE: {mae}")
print(f"MSE: {mse}")
print(f"R^2 Score: {r2}")

Best parameters: {'n_neighbors': 30}
Best score (negative MSE): -90048.73146182715
MAE: 105.47686022205934
MSE: 270772.86292522924
R^2 Score: -0.012885747175823248